build/
__pycache__/
# Vendored assembler binaries and generated DSP build products.
dsp/*.EXE
dsp/*.CLD
dsp/*.LOD
dsp/*.LST
dsp/BUILD.BAT
dsp/ioequ.inc
dsp/opl_boot.i
dsp/oplrttab.inc
dsp/oplrt_image.i
dsp/OPLBOOT.ASM
